.page-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  width: 800px;
  min-height: 500px;
  margin: auto;
  
  outline: 2px solid #636363;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100px;
  height: 100px;

  outline: 2px solid #636363;
}

.result__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  min-height: 150px;
}